{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!--Include header-->
    {% include "base/header.html" %}
    <body>
        <!--Include Main navbar -->
        {% include "base/navbar.html" %}

        <div class="page-content">
            <!-- Main sidebar -->
            {% include "base/sidebar.html" %}

            <div class="content-wrapper">
                <!--Include body content -->
                <!--content header-->
                {% include "base/body.html" %}
                <!--/content header-->

                <!-- Content area -->
                <div class="content">
                    {% block content %} {% endblock %}
                </div>
                <!-- /content area -->

                <!-- Footer -->

                {% include "base/footer.html" %}

                <!-- /footer -->
            </div>
        </div>
    </body>
</html>
